
*{
    margin: 0px;
    background-color: rgb(0, 0, 31);
    color: aqua;
    font-family: 'retroStyle';
    
    
}
@font-face {
    font-family: 'retroStyle';
    src: url(./Assets/FreePixel.woff);
} 


#profile{
    margin-top: 10px;
    width: 120px;
    border-radius: 50%;
    border: 3px solid aqua;
}
h1, #perfil{
    display: inline-block;
    
}
h2{
    margin: 20px ;
}

#left-slash{
    margin: 10px 2px;
    border-radius: 2%;
    padding: 0px 10px ;
    width:400px;
    height: 850px;
    text-align: justify;
    box-shadow: 2px 0px 10px aqua;
    overflow: hidden;
  


}